<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>runDestinationsByUUID</key>
	<dict>
		<key>28232F8E-F973-480D-89B7-CE54A2D94514</key>
		<dict>
			<key>targetArchitecture</key>
			<string>armv7s</string>
			<key>targetDevice</key>
			<dict>
				<key>modelCode</key>
				<string>iPhone5,2</string>
				<key>platformIdentifier</key>
				<string>com.apple.platform.iphoneos</string>
			</dict>
		</dict>
		<key>B3FEF892-2716-4015-8DE9-BDD6866D7DCE</key>
		<dict>
			<key>targetArchitecture</key>
			<string>arm64</string>
			<key>targetDevice</key>
			<dict>
				<key>modelCode</key>
				<string>iPhone7,1</string>
				<key>platformIdentifier</key>
				<string>com.apple.platform.iphoneos</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
